TestFiles/rules/international/rule-1664.sch.delete

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
        xmlns:doc="http://doc"
        queryBinding="xslt2">
   <ns uri="urn:gs1:gdsn:catalogue_item_confirmation:xsd:3"
       prefix="catalogue_item_confirmation"/>
   <ns uri="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader"
       prefix="sh"/>
   <ns uri="http://data" prefix="data"/>    
   <pattern>
      <title>Rule 1664</title>
      <doc:description>If targetMarketCountryCode equals (752 (Sweden), 208 (Denmark), 203 (Czech Republic), 380 (Italy) or 250 (France)), then maximum of one instance of descriptiveSizeDimension per languageCode SHALL be used.
      </doc:description>
      <doc:avenant>Modif. 3.1.23 Updated Structured Rule and Xpaths based on changes from GDSN 3.1.23 Large release</doc:avenant>
      <doc:attribute1>targetMarketCountryCode</doc:attribute1>
      <doc:attribute2>descriptiveSizeDimension</doc:attribute2>
      <rule context="nonPackagedSizeDimension">
         <assert test="if (ancestor::tradeItem/targetMarket/targetMarketCountryCode =  ('752', '208', '203', '380',  '250')) 
                       then (  (count(descriptiveSizeDimension) 
                       eq count(distinct-values(descriptiveSizeDimension/@languageCode)) ) ) 
         
         					else true()">		
         	
				         	    <errorMessage>There SHALL not be multiple iterations of descriptiveSizeDimension for the same language.</errorMessage>
				                
				                <location>
										<!-- Fichier SDBH -->
										<messageId><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:DocumentIdentification/sh:InstanceIdentifier"/></messageId>
										<messageOwner><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:Sender/sh:Identifier"/></messageOwner>
															
										<transactionId><xsl:value-of select="ancestor::transaction/transactionIdentification/entityIdentification"/></transactionId>
										<transactionOwner><xsl:value-of select="ancestor::transaction/transactionIdentification/contentOwner/gln"/></transactionOwner>
										<commandId><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/entityIdentification"/></commandId>
										<commandOwner><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/contentOwner/gln"/></commandOwner>
										<!-- Fichier CIN -->
										<documentId><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/entityIdentification"/></documentId>
										<documentOwner><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/contentOwner/gln"/></documentOwner>
										<!--  Le 1er tradeItem . 1 seul car les autres sont imbriqués -->
										<gtinHigh><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItem/tradeItem/gtin"/></gtinHigh>
										<!-- Context = TradeItem -->
										<gtin><xsl:value-of select="ancestor::tradeItem/gtin"/></gtin>
										<glnProvider><xsl:value-of select="ancestor::tradeItem/informationProviderOfTradeItem/gln"/></glnProvider>
										<targetMarket><xsl:value-of select="ancestor::tradeItem/targetMarket/targetMarketCountryCode"/></targetMarket>	
										
								</location>
         	
     	 </assert>
      </rule>
   </pattern>
</schema>
