TestFiles/rules/international/rule-532.sch.delete

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron"
		xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
        xmlns:doc="http://doc"
        queryBinding="xslt2">
   <ns uri="urn:gs1:gdsn:catalogue_item_confirmation:xsd:3"
       prefix="catalogue_item_confirmation"/>
   <ns uri="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader"
       prefix="sh"/>
   <ns uri="http://data" prefix="data"/>
   <let name="units" value="doc('../data/data.xml')//data:units"/>
   <pattern>
      <title>Rule 532</title>
       <doc:description>If targetMarketCountryCode is equal to '752' (Sweden) and isTradeItemAConsumerUnit is equal to 'true' then functionalName must not equal value from descriptiveSize.</doc:description>
       <doc:avenant>Suppression 3.1.19 Le 17/02/2022</doc:avenant>
       <doc:attribute1>targetMarketCountryCode, isTradeItemAConsumerUnit</doc:attribute1>
       <doc:attribute2>TradeItemDescriptionInformation/functionalName</doc:attribute2>
       <doc:attribute3>Size/descriptiveSize</doc:attribute3>
      <rule context="tradeItem">
          <assert test="if ((targetMarket/targetMarketCountryCode = '752'(: Sweden :))  and  (isTradeItemAConsumerUnit = 'true') and (tradeItemInformation/extension/*:tradeItemSizeModule/size/descriptiveSize) and (tradeItemInformation/extension/*:tradeItemDescriptionModule/tradeItemDescriptionInformation/functionalName)) then (every $node in (tradeItemInformation/extension) satisfies (every $node2 in ($node/*:tradeItemDescriptionModule/tradeItemDescriptionInformation/functionalName) satisfies($node2 != $node/*:tradeItemSizeModule/size/descriptiveSize)))
          
          			    else true()">
          			    
          			    		
          			    	   <errorMessage>functionalName may not contain the same text as descriptiveSize. When validating, a space character should be added before and after descriptiveSize before searching for the same text in functionalName. This rule applies when isTradeItemAConsumerUnit is equal to 'true' and targetMarket is equal to '752' (Sweden) </errorMessage>
				           
					           <location>
											<!-- Fichier SDBH -->
											<messageId><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:DocumentIdentification/sh:InstanceIdentifier"/></messageId>
											<messageOwner><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:Sender/sh:Identifier"/></messageOwner>
																
											<transactionId><xsl:value-of select="ancestor::transaction/transactionIdentification/entityIdentification"/></transactionId>
											<transactionOwner><xsl:value-of select="ancestor::transaction/transactionIdentification/contentOwner/gln"/></transactionOwner>
											<commandId><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/entityIdentification"/></commandId>
											<commandOwner><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/contentOwner/gln"/></commandOwner>
											<!-- Fichier CIN -->
											<documentId><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/entityIdentification"/></documentId>
											<documentOwner><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/contentOwner/gln"/></documentOwner>
											<!--  Le 1er tradeItem . 1 seul car les autres sont imbriqués -->
											<gtinHigh><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItem/tradeItem/gtin"/></gtinHigh>
											<!-- Context = TradeItem -->
											<gtin><xsl:value-of select="gtin"/></gtin>
											<glnProvider><xsl:value-of select="informationProviderOfTradeItem/gln"/></glnProvider>
											<targetMarket><xsl:value-of select="targetMarket/targetMarketCountryCode"/></targetMarket>	
											
							   </location>
							   
							   
          </assert>
      </rule>
   </pattern>
</schema>
