TestFiles/rules/international/rule-1774.sch.delete

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
		xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
        xmlns:doc="http://doc"
        queryBinding="xslt2">
   <ns uri="urn:gs1:gdsn:catalogue_item_confirmation:xsd:3"
       prefix="catalogue_item_confirmation"/>
   <ns uri="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader"
       prefix="sh"/>
    <ns uri="http://data" prefix="data"/>    
   <pattern>
      <title>Rule 1774</title>      
      <doc:description>If targetMarketCountryCode equals ('008' (Albania), '051' (Armenia), '031' (Azerbaijan), '040' (Austria), '112' (Belarus), '056' (Belgium), '070' (Bosnia-Herzegovina), '100' (Bulgaria), '191' (Croatia),
                                                          '196' (Cyprus), '203' (Czech Republic), '208' (Denmark), '233' (Estonia), '246' (Finland), '250' (France), '276' (Germany), '268' (Georgia), '300' (Greece), 
                                                          '348' (Hungary), '352' (Iceland), '372' (Ireland), '376' (Israel), '380' (Italy), '398' (Kazakhstan), '417' (Kyrgyzstan), '428' (Latvia), '440' (Lithuania),
                                                          '442' (Luxembourg), '807' (Macedonia), '498' (Moldova), '499' (Montenegro), '528' (Netherlands), '578' (Norway), '616' (Poland), '620' (Portugal), '642' (Romania),
                                                          '643' (Russia), '688' (Serbia), '703' (Slovakia), '705' (Slovenia), '752' (Sweden), '756' (Switzerland), '792' (Turkey), '795' (Turkmenistan), '826' (United Kingdom), '804' (Ukraine), or '860' (Uzbekistan))
                                                          and (gpcCategoryCode is a code from the segment '50000000' (except Family '50210000') or equals 10000467, 10000468 or 10000651)
                                                          and if (gpcCategoryCode is a code from the segment '50000000' (except Family '50210000') or equals 10000467, 10000468 or 10000651) 
                                                          and isTradeItemAConsumerUnit equals 'true' and ingredientStatement is used, then isAllergenRelevantDataProvided SHALL be used.	
      </doc:description>    
      <doc:attribute1>targetMarketCountryCode,gpcCategoryCode,isTradeItemAConsumerUnit</doc:attribute1> 
      <doc:attribute2>ingredientStatement, isAllergenRelevantDataProvided</doc:attribute2>       
   	  <rule context="tradeItem">
		    <assert test="if((targetMarket/targetMarketCountryCode =  ('008' , '051' , '031' , '040', '112' , '056' , '070' , '100' , '191' , '196' , '203' , '233' , '246' , '250' , '268' , '300' , '348' ,
                                                                     '352' , '372' , '376' , '380' , '398' , '417' , '428' , '440' , '442' , '807' , '498' , '499' , '528' , '578' , '616' , '620' , '642', '643' ,
                                                                     '688' , '703' , '705' , '752' , '756', '792' , '795' , '826' , '804' , '860', '208' , '276' )) 
                            and (isTradeItemAConsumerUnit = 'true')                                         
                            and (gdsnTradeItemClassification/gpcCategoryCode = ('10000002' , '10000003' , '10000005' , '10000006' , '10000007' , '10000008' , '10000016' , '10000017' , '10000018' , '10000019' ,  
                                                                                '10000020' , '10000021' , '10000025' , '10000026' , '10000027' , '10000028' , '10000029' , '10000030' , '10000040' , '10000041' ,  
                                                                                '10000042' , '10000043' , '10000044' , '10000045' , '10000047' , '10000048' , '10000049' , '10000050' , '10000051' , '10000052' ,  
                                                                                '10000054' , '10000055' , '10000056' , '10000057' , '10000064' , '10000068' , '10000069' , '10000104' , '10000105' , '10000111' ,  
                                                                                '10000115' , '10000116' , '10000117' , '10000137' , '10000138' , '10000139' , '10000145' , '10000146' , '10000147' , '10000148' ,  
                                                                                '10000149' , '10000150' , '10000151' , '10000152' , '10000153' , '10000155' , '10000156' , '10000157' , '10000158' , '10000160' ,  
                                                                                '10000161' , '10000163' , '10000164' , '10000165' , '10000166' , '10000167' , '10000168' , '10000169' , '10000170' , '10000171' ,  
                                                                                '10000172' , '10000177' , '10000178' , '10000179' , '10000180' , '10000187' , '10000188' , '10000189' , '10000190' , '10000191' ,  
                                                                                '10000192' , '10000193' , '10000194' , '10000195' , '10000196' , '10000197' , '10000199' , '10000200' , '10000201' , '10000202' ,  
                                                                                '10000203' , '10000204' , '10000205' , '10000206' , '10000207' , '10000211' , '10000212' , '10000213' , '10000214' , '10000215' ,  
                                                                                '10000216' , '10000217' , '10000219' , '10000220' , '10000222' , '10000223' , '10000232' , '10000235' , '10000236' , '10000238' ,  
                                                                                '10000239' , '10000240' , '10000241' , '10000242' , '10000244' , '10000245' , '10000246' , '10000247' , '10000248' , '10000249' ,  
                                                                                '10000250' , '10000252' , '10000254' , '10000255' , '10000256' , '10000257' , '10000258' , '10000260' , '10000261' , '10000262' ,  
                                                                                '10000264' , '10000265' , '10000266' , '10000270' , '10000271' , '10000272' , '10000277' , '10000278' , '10000279' , '10000280' ,  
                                                                                '10000281' , '10000282' , '10000283' , '10000284' , '10000285' , '10000286' , '10000287' , '10000288' , '10000289' , '10000290' ,  
                                                                                '10000291' , '10000292' , '10000293' , '10000294' , '10000295' , '10000296' , '10000297' , '10000298' , '10000299' , '10000300' ,  
                                                                                '10000301' , '10000302' , '10000304' , '10000305' , '10000306' , '10000307' , '10000308' , '10000309' , '10000310' , '10000311' ,  
                                                                                '10000312' , '10000314' , '10000315' , '10000316' , '10000317' , '10000318' , '10000319' , '10000574' , '10000575' , '10000576' ,  
                                                                                '10000577' , '10000578' , '10000579' , '10000580' , '10000581' , '10000583' , '10000585' , '10000586' , '10000587' , '10000590' ,  
                                                                                '10000592' , '10000593' , '10000594' , '10000595' , '10000596' , '10000597' , '10000598' , '10000599' , '10000600' , '10000601' ,  
                                                                                '10000602' , '10000603' , '10000604' , '10000605' , '10000607' , '10000608' , '10000609' , '10000610' , '10000611' , '10000612' ,  
                                                                                '10000613' , '10000614' , '10000615' , '10000616' , '10000617' , '10000618' , '10000619' , '10000621' , '10000622' , '10000623' ,  
                                                                                '10000626' , '10000627' , '10000628' , '10000629' , '10000630' , '10000631' , '10008039' , '10008040' , '10008041' , '10005224' ,  
                                                                                '10005225' , '10005226' , '10005227' , '10005228' , '10005767' , '10005768' , '10005769' , '10005770' , '10005771' , '10005772' ,  
                                                                                '10005773' , '10005774' , '10005776' , '10005777' , '10005778' , '10005779' , '10005780' , '10005781' , '10005782' , '10005783' ,  
                                                                                '10005784' , '10005785' , '10005786' , '10005787' , '10005788' , '10005789' , '10005790' , '10005791' , '10005792' , '10005793' ,  
                                                                                '10005795' , '10005796' , '10005797' , '10005798' , '10005799' , '10005800' , '10005801' , '10005802' , '10005803' , '10005804' ,  
                                                                                '10005822' , '10005823' , '10005824' , '10005825' , '10005826' , '10005827' , '10005832' , '10005833' , '10005834' , '10005835' ,  
                                                                                '10005836' , '10005837' , '10005838' , '10005840' , '10005876' , '10005877' , '10005878' , '10005879' , '10005880' , '10005881' ,  
                                                                                '10005882' , '10005883' , '10005884' , '10005885' , '10005886' , '10005887' , '10005888' , '10005889' , '10005895' , '10005896' ,  
                                                                                '10005897' , '10005898' , '10005899' , '10005900' , '10005901' , '10005902' , '10005903' , '10005905' , '10005907' , '10005908' ,  
                                                                                '10005909' , '10005910' , '10005911' , '10005912' , '10005913' , '10005914' , '10005915' , '10005916' , '10005917' , '10005918' ,  
                                                                                '10005921' , '10005922' , '10005923' , '10005924' , '10005925' , '10005927' , '10005928' , '10005929' , '10005930' , '10005932' ,  
                                                                                '10005934' , '10005935' , '10005937' , '10005938' , '10005939' , '10005940' , '10005941' , '10005942' , '10005946' , '10005948' ,  
                                                                                '10005949' , '10005950' , '10005951' , '10005952' , '10005953' , '10005954' , '10005955' , '10005956' , '10005957' , '10005959' ,  
                                                                                '10005960' , '10005961' , '10005963' , '10005964' , '10005965' , '10005966' , '10005967' , '10005968' , '10005969' , '10005970' ,  
                                                                                '10005971' , '10005972' , '10005973' , '10005974' , '10005976' , '10005979' , '10005980' , '10005981' , '10005982' , '10005984' ,  
                                                                                '10005985' , '10005986' , '10005987' , '10005988' , '10005996' , '10005997' , '10005999' , '10006000' , '10006003' , '10006004' ,  
                                                                                '10006005' , '10006006' , '10006007' , '10006009' , '10006014' , '10006015' , '10006031' , '10006032' , '10006033' , '10006034' ,  
                                                                                '10006035' , '10006036' , '10006037' , '10006038' , '10006040' , '10006041' , '10006044' , '10006045' , '10006046' , '10006047' ,  
                                                                                '10006048' , '10006049' , '10006050' , '10006051' , '10006052' , '10006053' , '10006054' , '10006055' , '10006056' , '10006057' ,  
                                                                                '10006058' , '10006059' , '10006060' , '10006061' , '10006063' , '10006065' , '10006066' , '10006068' , '10006070' , '10006071' ,  
                                                                                '10006072' , '10006074' , '10006075' , '10006076' , '10006077' , '10006078' , '10006079' , '10006085' , '10006086' , '10006088' ,  
                                                                                '10006089' , '10006090' , '10006091' , '10006092' , '10006093' , '10006094' , '10006095' , '10006097' , '10006100' , '10006102' ,  
                                                                                '10006104' , '10006107' , '10006108' , '10006109' , '10006110' , '10006111' , '10006112' , '10006113' , '10006114' , '10006115' ,  
                                                                                '10006116' , '10006117' , '10006118' , '10006119' , '10006120' , '10006121' , '10006122' , '10006123' , '10006124' , '10006125' ,  
                                                                                '10006126' , '10006127' , '10006128' , '10006129' , '10006130' , '10006131' , '10006133' , '10006134' , '10006135' , '10006136' ,  
                                                                                '10006137' , '10006143' , '10006144' , '10006145' , '10006146' , '10006147' , '10006148' , '10006155' , '10006157' , '10006158' ,  
                                                                                '10006159' , '10006160' , '10006161' , '10006162' , '10006163' , '10006164' , '10006165' , '10006166' , '10006167' , '10006168' ,  
                                                                                '10006169' , '10006171' , '10006172' , '10006173' , '10006190' , '10006191' , '10006192' , '10006193' , '10006194' , '10006195' ,  
                                                                                '10006196' , '10006197' , '10006198' , '10006199' , '10006200' , '10006202' , '10006203' , '10006204' , '10006210' , '10006211' ,  
                                                                                '10006212' , '10006213' , '10006214' , '10006216' , '10006217' , '10006219' , '10006221' , '10006222' , '10006228' , '10006229' ,  
                                                                                '10006230' , '10006250' , '10006251' , '10006252' , '10006253' , '10006254' , '10006255' , '10006256' , '10006257' , '10006259' ,  
                                                                                '10006260' , '10006261' , '10006262' , '10006263' , '10006264' , '10006265' , '10006266' , '10006267' , '10006268' , '10006269' ,  
                                                                                '10006270' , '10006271' , '10006272' , '10006273' , '10006278' , '10006279' , '10006280' , '10006281' , '10006282' , '10006283' ,  
                                                                                '10006284' , '10006285' , '10006286' , '10006287' , '10006288' , '10006289' , '10006290' , '10006291' , '10006292' , '10006293' ,  
                                                                                '10006294' , '10006295' , '10006296' , '10006297' , '10006298' , '10006299' , '10006300' , '10006301' , '10006302' , '10006303' ,  
                                                                                '10006304' , '10006305' , '10006306' , '10006307' , '10006308' , '10006309' , '10006310' , '10006311' , '10006312' , '10006314' ,  
                                                                                '10006315' , '10006316' , '10006317' , '10006318' , '10006319' , '10006320' , '10006321' , '10006322' , '10006323' , '10006324' ,  
                                                                                '10006325' , '10006334' , '10006335' , '10006336' , '10006337' , '10006338' , '10006339' , '10006340' , '10006341' , '10006342' ,  
                                                                                '10006343' , '10006344' , '10006345' , '10006346' , '10006347' , '10006348' , '10006349' , '10006350' , '10006351' , '10006352' ,  
                                                                                '10006353' , '10006354' , '10006355' , '10006356' , '10006357' , '10006358' , '10006359' , '10006360' , '10006361' , '10006362' ,  
                                                                                '10006363' , '10006364' , '10006365' , '10006366' , '10006367' , '10006368' , '10006369' , '10006370' , '10006371' , '10006372' ,  
                                                                                '10006390' , '10006393' , '10006394' , '10006414' , '10006415' , '10006416' , '10006417' , '10006418' , '10006419' , '10006420' ,  
                                                                                '10006421' , '10006422' , '10006423' , '10006424' , '10006425' , '10006426' , '10006427' , '10006428' , '10006429' , '10006430' ,  
                                                                                '10006431' , '10006432' , '10006433' , '10006434' , '10006435' , '10006436' , '10006437' , '10006438' , '10006439' , '10006440' ,  
                                                                                '10006441' , '10006442' , '10006443' , '10006444' , '10006445' , '10006446' , '10006447' , '10006449' , '10006450' , '10006451' ,  
                                                                                '10006452' , '10006453' , '10006454' , '10006455' , '10006456' , '10006457' , '10006458' , '10006459' , '10006460' , '10006461' ,  
                                                                                '10006728' , '10006746' , '10006747' , '10006748' , '10006749' , '10006750' , '10006751' , '10006752' , '10006753' , '10006754' ,  
                                                                                '10006759' , '10006760' , '10006761' , '10006823' , '10006824' , '10006825' , '10006826' , '10006827' , '10006828' , '10006829' ,  
                                                                                '10006830' , '10006831' , '10006832' , '10006833' , '10006834' , '10006835' , '10006836' , '10006837' , '10006848' , '10006866' ,  
                                                                                '10006958' , '10006966' , '10006967' , '10006968' , '10006969' , '10006970' , '10006971' , '10006972' , '10006973' , '10006974' ,  
                                                                                '10006975' , '10006976' , '10006977' , '10006978' , '10006979' , '10006980' , '10006981' , '10006982' , '10006983' , '10006984' ,  
                                                                                '10006985' , '10006986' , '10006987' , '10006988' , '10006989' , '10006990' , '10006991' , '10006995' , '10006996' , '10007276' ,  
                                                                                '10008002' , '10008003' , '10008004' , '10008005' , '10008027' , '10008042' , '10008032' , '10008033' , '10008029' , '10008035' ,  
                                                                                '10008034' , '10008030' , '10008031' , '10008059' , '10008058' , '10008044' , '10008043' , '10008061' , '10000142' , '10000143' ,  
                                                                                '10000144' , '10000159' , '10000181' , '10000227' , '10000263' , '10000273' , '10000275' , '10000276' , '10000588' , '10000589' ,  
                                                                                '10000591' , '10003689' , '10006327' , '10008107' , '10008108' , '10008244' , '10008245' , '10008246' , '10008247' , '10008248' ,  
                                                                                '10008249' , '10008250' , '10008251' , '10008252' , '10008253' , '10008254' , '10008255' , '10008256' , '10008257' , '10008258' ,  
                                                                                '10005823' , '10005825' , '10005824' , '10006230' , '10008108' , '10008107' , '10000114' , '10000118' , '10000210' , '10006997' ,  
                                                                                '10008187' , '10008185' , '10008183' , '10008181' , '10008182' , '10000119' , '10000313' , '10008178' , '10008179' , '10008180' ,  
                                                                                '10008181' , '10008182' , '10008183' , '10008184' , '10008185' , '10008186' , '10008187' , '10008188' , '10008189' , '10008190' ,  
                                                                                '10008191' , '10008192' , '10008193' , '10008194' , '10008195' , '10008196' , '10008197' , '10008198' , '10008199' , '10008200' ,  
                                                                                '10008201' , '10008202' , '10008203' , '10008204' , '10008205' , '10008206' , '10008207' , '10008208' , '10008209' , '10008210' ,  
                                                                                '10008211' , '10008212' , '10008213' , '10008214' , '10008215' , '10008216' , '10008217' , '10008218' , '10008219' , '10008220' ,  
                                                                                '10008221' , '10008222' , '10008223' , '10008224' , '10008225' , '10008226' , '10008227' , '10008228' , '10008229' , '10008230' ,  
                                                                                '10008231' , '10008232' , '10008233' , '10008234' , '10008235' , '10008236' , '10008237' , '10000116' , '10000117' , '10000114' ,  
                                                                                '10000115' , '10006311' , '10006312' , '10000118' , '10000119' , '10000210' , '10000313' , '10000467' , '10000468' , '10000651'  ))
        					and  exists(tradeItemInformation/extension/*:foodAndBeverageIngredientModule/ingredientStatement))					    					
        					then  (exists (tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation/isAllergenRelevantDataProvided)
		                    and (every $node in (tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation) 
        					satisfies ($node/isAllergenRelevantDataProvided != '' )))                    												
        							
				          				 else true()">					          		 
				          		 		
							      		 		<errorMessage>Is packaging marked returnable shall be populated for the target market in case of packed fresh fruits and vegetables.</errorMessage>
							                
								                <location>
														<!-- Fichier SDBH -->
														<messageId><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:DocumentIdentification/sh:InstanceIdentifier"/></messageId>
														<messageOwner><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:Sender/sh:Identifier"/></messageOwner>
																			
														<transactionId><xsl:value-of select="ancestor::transaction/transactionIdentification/entityIdentification"/></transactionId>
														<transactionOwner><xsl:value-of select="ancestor::transaction/transactionIdentification/contentOwner/gln"/></transactionOwner>
														<commandId><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/entityIdentification"/></commandId>
														<commandOwner><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/contentOwner/gln"/></commandOwner>
														<!-- Fichier CIN -->
														<documentId><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/entityIdentification"/></documentId>
														<documentOwner><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/contentOwner/gln"/></documentOwner>
														<!--  Le 1er tradeItem . 1 seul car les autres sont imbriqués -->
														<gtinHigh><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItem/tradeItem/gtin"/></gtinHigh>
														<!-- Context = TradeItem -->
														<gtin><xsl:value-of select="gtin"/></gtin>
														<glnProvider><xsl:value-of select="informationProviderOfTradeItem/gln"/></glnProvider>
														<targetMarket><xsl:value-of select="targetMarket/targetMarketCountryCode"/></targetMarket>														
												</location>			          		 		
          		 		
 		  </assert>
 		  
      </rule>
   </pattern>
</schema>
