TestFiles/rules/international/rule-1716.sch.delete

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
        xmlns:doc="http://doc"
        queryBinding="xslt2">
   <ns uri="urn:gs1:gdsn:catalogue_item_confirmation:xsd:3"
       prefix="catalogue_item_confirmation"/>
   <ns uri="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader"
       prefix="sh"/>
   <ns uri="http://data" prefix="data"/>   
   <pattern>
      <title>Rule 1716</title>
       <doc:description>if AllergenRelatedInformation class is repeated, then ((allergenSpecificationAgency SHALL be populated with different values for each iteration) or (allergenSpecificationName SHALL be populated with different values for each iteration))</doc:description>
       <doc:attribute1>allergenRelatedInformation/allergenSpecificationAgency</doc:attribute1>
       <doc:attribute2>allergenRelatedInformation/allergenSpecificationName</doc:attribute2>
      <rule context="tradeItem">
          <assert test="if(count(tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation) &gt; 1)
                  then (
                 		  (
	                    	count(distinct-values(tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation/allergenSpecificationAgency)) &gt; 1
	                		and count(distinct-values(tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation/allergenSpecificationName)) &lt;= 1
                		  )
                  
                	  or 
                  		  (
	                  		count(distinct-values(tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation/allergenSpecificationAgency)) &lt;= 1
	                		and count(distinct-values(tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation/allergenSpecificationName)) &gt; 1
                  
                      	  )
                      	or 
                  		  (
	                  		count(distinct-values(tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation/allergenSpecificationAgency)) &gt; 1
	                		and count(distinct-values(tradeItemInformation/extension/*:allergenInformationModule/allergenRelatedInformation/allergenSpecificationName)) &gt; 1
                  
                      	  )  
                       )	  
                      	  
					else true()">
		
						
						<errorMessage>AllergenRelatedInformation is only repeatable when either the Allergen Specification Agencies or the Allergen Specification Names are populated or when both are populated, the values of the pairs [Allergen Specification Agency and Allergen Specification Name ] shall be different. If the Allergen Specification Agencies and Allergen Specification Names are the same, repeat the Allergens Types within the same Allergen group (class).</errorMessage>
		                
		                <location>
								<!-- Fichier SDBH -->
								<messageId><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:DocumentIdentification/sh:InstanceIdentifier"/></messageId>
								<messageOwner><xsl:value-of select="/*/sh:StandardBusinessDocumentHeader/sh:Sender/sh:Identifier"/></messageOwner>
													
								<transactionId><xsl:value-of select="ancestor::transaction/transactionIdentification/entityIdentification"/></transactionId>
								<transactionOwner><xsl:value-of select="ancestor::transaction/transactionIdentification/contentOwner/gln"/></transactionOwner>
								<commandId><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/entityIdentification"/></commandId>
								<commandOwner><xsl:value-of select="ancestor::documentCommand/documentCommandHeader/documentCommandIdentification/contentOwner/gln"/></commandOwner>
								<!-- Fichier CIN -->
								<documentId><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/entityIdentification"/></documentId>
								<documentOwner><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItemNotificationIdentification/contentOwner/gln"/></documentOwner>
								<!--  Le 1er tradeItem . 1 seul car les autres sont imbriqués -->
								<gtinHigh><xsl:value-of select="ancestor::*:catalogueItemNotification/catalogueItem/tradeItem/gtin"/></gtinHigh>
								<!-- Context = TradeItem -->
								<gtin><xsl:value-of select="gtin"/></gtin>
								<glnProvider><xsl:value-of select="informationProviderOfTradeItem/gln"/></glnProvider>
								<targetMarket><xsl:value-of select="targetMarket/targetMarketCountryCode"/></targetMarket>	
								
						</location>
		
		  </assert>
      </rule>
   </pattern>
</schema>
